@charset "UTF-8";

/* Reset */
* {
    color: #087438;   /* 주조색 */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a                   { text-decoration: none; }
a:link             { color: #222; }
a:visited         { color: #222; }
a:hover          { color: #333; }
a:active          { color: #333; }
img                 { vertical-align: middle; }

ul                     { list-style: none; }
/* Reset */


/* 가이드라인 */
div#wrap             {  border: 1px solid #000;  }
/*div#slideMain       {  border: 2px solid #f80;  }*/
/*div#shuttleFrame  {  border: 2px solid #08f;  }*/
table                     {  border: 1px solid #aaa;  }
/*td                         {  border: 1px solid #000;  }*/

/* 가이드라인 */


/* div#wrap */
div#wrap     {
    width: 1360px;
    /*padding: 4px;*/
    margin: 0 auto;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

#wrap .btnArrow img {

    cursor: pointer;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#wrap .btnArrow:first-child {
    margin-left: 10px;
}

/* div#wrap */


/* 메인 슬라이드쇼 #slideMain 시작 */

div#slideMain {
    width: 1240px;
    /*padding: 10px;*/

    overflow: hidden;
}


#slideMain div#shuttleFrame {
    width: 1550px;
    /*padding: 4px;*/

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

#slideMain #shuttleFrame table {
    width: 270px;
    height: 300px;
    border-collapse: collapse;
    margin: 18px;

    flex: 1;
}

#slideMain #shuttleFrame table tr:nth-child(2) td {
    height: 150px;
    vertical-align: top;
    padding: 16px 18px;

}

#slideMain #shuttleFrame table h4 {
    font-size: 18px;
    height: 40px;
    margin-right: 6px;
    line-height: 40px;

    display: inline-block;
}
#slideMain #shuttleFrame table h4+img {
    margin-bottom: 5px;

}
#slideMain #shuttleFrame table address {
    height: 50px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px;

}

#slideMain #shuttleFrame table ul li {
    color: #000;
}

#slideMain #shuttleFrame table ul li:before {
    content: "\2022 \0020 이용문의 : ";
    font-size: 14px;

}

/* 메인 슬라이드쇼 #slideMain 끝 */

